<div><h1 class="text-center display-1  ">Hellloooooooooooo Angular {{title}}</h1></div>

<h1 class="display-6" >Understanding Components</h1>
<table class = "table table-success table-striped">
    <thead >
        <tr>
            <th scope="col">#</th>
            <th scope="col">Componenets</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td><app-employee-list></app-employee-list></td>
        </tr>
        <tr>
            <th scope="row">2</th>
        <td><app-add-employee></app-add-employee></td>
    </tr>
    <tr>
        <th scope="row">3</th>
    <td><app-test-comp></app-test-comp></td>
</tr>
<tr>
    <th scope="row">4</th>
<td><app-data-binding></app-data-binding></td>
</tr>

    </tbody>
</table>

<router-outlet />